*{
    margin: 0;
    padding: 0;
}

.item{
    float: left;
    width: 25%;
}

section{
    margin-top: 20%;
}

.itemListe{
    float: left;
    display: inline;
}

.contain{
    width: 75%;
    height: 100%;
    text-align: center;
}

.titre{
    border:black solid 2px;
}